{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1 class="text-center m-5">Catalogue de livres</h1>
<div class="container-fluid d-flex justify-content-center">
    <table class="table table-hover w-50">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Année d'édition</th>
                <th>Nombre de page</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td><a class="text-decoration-none" href="{{ path('app_livre_show', {'id': livre.id}) }}">{{ livre.titre }}</a></td>
                <td>{{ livre.auteur.nom }} {{ livre.auteur.prenom }}</td>
                <td>{{ livre.anneeEdition }}</td>
                <td>{{ livre.nombrePages }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas de livres</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
