{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Catalogue</h1>
    {% if livres %}
    <ul>
        {% for livre in livres %}
        <li>
            <a href="{{ path('app_livre_show', {'id': livre.id}) }}">{{ livre.titre }}</a>
            
            (auteur : {{ livre.auteur.nom }} {{ livre.auteur.prenom }}, année d'édition : {{ livre.anneeEdition }}, nombre de page : {{ livre.nombrePages }})
            
        </li>
        {% endfor %}
    </ul>
    {% else %}
    Il n'y a encore aucun livre.
    {% endif %}
</div>
{% endblock %}
