{% extends 'base.html.twig' %}
{% block title %}Mon site - {{ livre.title }}{% endblock %}
{% block body %}
<article>
<h2>Titre : {{ livre.title }}</h2>

<p>Auteur : {{ livre.auteur.nom }} {{ livre.auteur.prenom }}</p>

<p>Édité en : {{ livre.annee_edition }}</p>
<p>Nombre de pages : {{ livre.nombre_pages }}</p>
<p>Code ISBN : {{ livre.code_isbn }}</p>

<div>
{% for genre in livre.genres %}
    #{{ genre.nom }} <br>
{% endfor %}
</div>

</article>
{% endblock %}