{% extends 'base.html.twig' %}
{% block title %}Mon site - {{ livre.titre }}{% endblock %}
{% block body %}

<h2>Titre : {{ livre.titre }}</h2>

<p>Auteur : {{ livre.auteur.nom }} {{ livre.auteur.prenom }}</p>

<p>Édité en : {{ livre.anneeEdition }}</p>
<p>Nombre de pages : {{ livre.nombrePages }}</p>
<p>Code ISBN : {{ livre.codeIsbn }}</p>

<div>
{% for genre in livre.genre %}
    #{{ genre.nom }} <br>
{% endfor %}
</div>

<a href="{{ path('app_front_livre') }}">back to list</a>
{% endblock %}